@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Navbar */
nav a {
    @apply transition duration-300 ease-in-out transform hover:scale-105;
  }
  
  /* Default light mode styles */
body {
    background-color: white;
    color: black;
  }
  
  /* Dark mode styles */
  .dark body {
    background-color: #121212;
    color: white;
  }
  
  /* Example of other dark mode styling for buttons */
  button {
    background-color: #333;
    color: white;
  }
  
  .dark button {
    background-color: #bbb;
    color: black;
  }
  
  /* Navbar in dark mode */
  .dark .navbar {
    background-color: #333;
  }
  
  .dark .navbar a {
    color: white;
  }
  
  /* Custom Toast Notification Styles */
.Toastify__toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.Toastify__toast {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  max-width: 400px;
  width: 100%;
}

.Toastify__toast--success {
  background-color: #4CAF50; /* Green */
  color: white;
}

.Toastify__toast--error {
  background-color: #F44336; /* Red */
  color: white;
}

.Toastify__toast--info {
  background-color: #2196F3; /* Blue */
  color: white;
}

/* Styling untuk input error */
input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}
